body {
    font-family: "Montserrat";
}

#title {
    background-color: #E96479;
    color: white;
}

.title-rows {
    padding-top: 50px;
}

.container-fluid {
    padding: 3% 15%;
}

h1 {
    font-family: "Montserrat";
    font-weight: thin;
    font-style: italic;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.5;
}

h3 {
    font-weight: 1.5rem;
    font-family: "Montserrat";
    font-weight: bold;
}

p,
li {
    color: #8F8F8F;
}

.icon {
    color: #EF8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #FF4C68;
}

/* Navigation bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
}

/* Download bottons */

.download-botton {
    margin: 5% 3% 5% 0;
}


/* Title image */
.title-image {
    width: 100%;
}

/* Features */
#features {
    padding: 7% 15%;
    background-color: #f5f4f2;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

/* Testimonials */
#testimonials {
    background-color: #EF8172;
    color: #FFF;
    text-align: center;
}

.nail-example {
    width: 35%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

/* Pricing */
#pricing {
    padding: 100px;
    text-align: center;
    background-color: #ebe7f1;
}

.pricing-column {
    padding: 3% 2%;
}

.listed-price {
    font-weight: 400;
}

.card-header {
    background-color: #bee0df;
}

.card-body {
    background-color: #f5f4f2;
}

@media (max-width: 1028px) {

    .title-image {
        width: 50%;
    }

    #title {
        text-align: center;
    }
}

/* Location */
#location {
    padding: 100px;
    text-align: center;
    background-color: #f5f4f2;
}

/* Footer */
#footer {
    text-align: center;
}

#footer a{
    text-decoration: none !important;
    
}

.social-icon {
    margin: 20px 10px;
    color: inherit;
}